@{
    ViewBag.Title = "Dashboard";
}

<h2>Customer Dashboard</h2>

<ul>
    <li><a href="@Url.Action("BrowseAllJeans", "Customer")">Browse All Jeans</a></li>
    <li><a href="@Url.Action("ShowDetails", "Customer")">View Customer Details</a></li>
    <li><a href="@Url.Action("OrderHistory", "Customer")">Order History</a></li>
</ul>

<a href="@Url.Action("Logout", "User")" class="btn btn-info btn-sm mt-2">Logout</a>